.venv
.venv/*
.idea
.idea/*
*.pyc
BACKEND/upload_folder/*
.env
FACE_MOEDEL/*.json
# Local Netlify folder
.netlify
BACKEND/config/serviceAccount.json
FACE_MODEL/user_embeddings.json
FACE_MODEL/event_photo_embedding.json